body{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background: #F5F5F5;
    font-family: 'Inter', sans-serif;
}

.sidebar{
    width: 15%;
    display: flex;
    flex-direction: column;    
    background: #3B4856;
}

h1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin: 5% 0 15% 0;
    border-bottom: 1px solid #FFFFFF;
    /* background: red;      */
}

h1 img{
    max-width: 80%;
    height: 90%;
}

nav{
    width: 100%;
    height: 80%;
    background: #3B4856;   
     
}

.menu{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: green; */
       
}

.menu__item{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.menu__item a{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    padding-left: 10%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
    transition: all 0.3s ease;
}
.menu__item a:hover{
    color: #3B4856;
    background: #FFFFFF;    
    transform: scale(1.1,1.1);
}

/*======================================================================*/
.box{
    width: 85%;
    display: flex;
    flex-direction: column;
}
/*======================================================================*/
header{
    width: 100%;
    height: 10%;
    background: #2980B9;
    
}

.profile{
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__img{
    height: 35px;
}

.profile__name{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    color: #FFFFFF;
    
}

.profile__logout{
    color: #FFFFFF;
    text-decoration: none;
}
/*======================================================================*/
main{
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.container_datos{
    background: #FFFFFF;
    width: 95%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.datos_titulo{
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    border-bottom: 1px solid #444444;
    /* background-color: aqua; */
}

.form_datos{
    width: 100%;
    height: 80%;  
    display: flex;
    flex-wrap: wrap;
    color: #444444;
    justify-content: space-evenly;
    align-items: center;  
    /* background-color: cadetblue; */
}


.datos_label{
    width: 35%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    /* background: firebrick; */
}

.datos_label input{
    width: 60%;
}
#user_date{
    width: 50%;
}




/*======================================================================*/
.container_laborales{
    background: #FFFFFF;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.laborales_titulo{
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    border-bottom: 1px solid #444444;
    /* background-color: aqua; */

}

.form_laborales{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    color: #444444;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */
}

.laboral_label{
    width: 35%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    /* background: firebrick; */
}

.laboral_label input{
    width: 60%;
    /* height: 30%; */
}
/*======================================================================*/

.container_botones{
    width: 95%;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: brown; */

}

.boton_item{
    width:20% ;
    height:90%;
    background-color: #3ac08f;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 10px;
}





/*======================================================================*/
footer{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

footer p{
    color: #343A40;
    font-size: 12px;    
}
/*======================================================================*/